body {
  background-color: rgb(133, 209, 209);
}
h2 {
  text-align: center;
  margin: 0;
  padding: 0;
  font-size: 30px;
}
.wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  width: 500px;
  height: 500px;
  border: 2px solid gray;
  border-radius: 10px;
  background-color: rgb(252, 248, 204);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.container button {
  border-radius: 3px;
  outline: none;
  background-color: rgb(89, 89, 253);
  border: 1px solid #ccc;
  height: 50px;
  color: white;
  margin-right: 15px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
  line-height: 16px;
  padding: 10px;
}
.container button:hover {
  background-color: rgb(2, 177, 2);
  transition: 0.3s;
  cursor: pointer;
}
